/* COLOR-PALET */
/* FONTS */
/* TRANSITIONS */
/* SHADOWS */
/* BORDERS */
/* RADIUS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", "Lato", sans-serif;
}
html body {
  width: 100vw;
  background-color: black;
}

.tabContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}
.tabContainer.active {
  display: block;
}
.tabContainer .tab {
  font-family: "Ubuntu", "Lato", sans-serif;
  font-size: 1em;
  position: relative;
  top: 5vh;
  left: 5vw;
  width: 85vw;
  height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 128, 0.5);
  border-radius: 15px;
  overflow: auto;
}
@media screen and (min-width: 600px) {
  .tabContainer .tab {
    width: 70vw;
    height: 95vh;
  }
}
@media screen and (min-width: 900px) {
  .tabContainer .tab {
    width: 50vw;
    height: 95vh;
  }
}
.tabContainer .headerTab {
  background-color: rgb(255, 0, 128);
  width: 100%;
  height: 50px;
}
.tabContainer .btnCloseTab {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  margin: 0.3rem 0.5rem;
}
.tabContainer .btnCloseTab:hover {
  color: black;
}
.tabContainer .options {
  display: flex;
  list-style: none;
}
.tabContainer .options .option {
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  line-height: 2rem;
  color: white;
  font-weight: lighter;
  font-size: 1.2em;
  font-style: italic;
  margin-top: 1rem;
}
.tabContainer .options .option.optionActive {
  font-weight: bolder;
  border-bottom: 4px solid white;
}
.tabContainer .contents {
  width: 100%;
  height: 100%;
  text-align: center;
}
.tabContainer .contents .content {
  width: 100;
  height: 100%;
  color: white;
  display: none;
  padding: 20px;
}
.tabContainer .contents .contentActive {
  display: block;
}
.tabContainer .contents .form {
  align-items: center;
  justify-content: center;
  /* CADA DIV DEL FORM */
  /* ALERTS DEL FORM */
  /* DIV DE TERMS */
}
.tabContainer .contents .form .divForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  /* CADA CASILLA DE INPUT */
  /* BOTON SUBMIT */
}
.tabContainer .contents .form .divForm .form-control {
  max-width: 95%;
  height: 35px;
  border-radius: 10px;
  border: none;
  font-size: 1em;
  text-align: center;
}
.tabContainer .contents .form .divForm .btnSubmit,
.tabContainer .contents .form .divForm .btnSubmitLogin {
  background-color: rgb(255, 0, 128);
  font-family: "Ubuntu", "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  font-style: italic;
  letter-spacing: 2px;
  border: solid 1px white;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 45px 25px 45px 25px;
}
.tabContainer .contents .form .divForm .btnSubmit:hover,
.tabContainer .contents .form .divForm .btnSubmitLogin:hover {
  transform: scale(1.05);
  transition: all 200ms ease;
}
.tabContainer .contents .form .alertRegister,
.tabContainer .contents .form .alertLogin {
  font-size: 0.8em;
  font-weight: lighter;
}
.tabContainer .contents .form .terms {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.tabContainer .contents .form .terms a {
  color: greenyellow;
}

.header {
  background-color: black;
}
.header .headerContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  padding: 1rem;
}
.header .headerContainer .headerLogo {
  max-width: 150px;
}
.header .headerContainer .linkMenu {
  text-decoration: none;
}
.header .headerContainer .headerIcon {
  max-width: 32px;
  margin: 0.75rem 0.5rem;
}
.header .headerContainer .headerIcon:hover {
  transform: scale(1.1);
  transition: all 500ms ease;
}

.footer {
  background-color: black;
  text-align: center;
  color: gray;
  padding: 0.5rem;
}
.footer .footerKprem {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.footer .footerKprem .footerIcon {
  width: 32px;
  margin: 0.5rem;
}
.footer .footerKprem .footerIcon:hover {
  transform: scale(1.2);
  opacity: 0.9;
  transition: all 200ms ease;
}
.footer .footerDev {
  border-top: 1px solid gray;
}
.footer .footerDev .textFooter {
  margin-top: 1rem;
}
.footer .footerDev .devImg {
  margin: 0.5rem;
  width: 50px;
}

.main {
  padding: 100px 50px 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  text-align: center;
}

.mainCarrito {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
