.mainCarrito {
  position: absolute;
  opacity: 0;
  transition: $transition;
  transform: scale(0.2);

  &.active {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    transform: scale(1);
    z-index: 100;

    @media screen and (min-width: 600px) {
      padding: 2% 10%;
    }
  }

  .tablaCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    border-radius: $radiusMin;
    padding: 0.2rem;
    position: relative;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 121, 255, 0.6);
      border-radius: 50px;
    }

    @media screen and (min-width: 600px) {
      font-size: 1em;
      padding: 1.5rem;
    }

    .headerCarrito {
      display: flex;

      .icoClose {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.3rem 0.5rem;
      }
    }

    .tabla {
      width: 100%;
      margin-top: 1rem;
      justify-content: space-around;

      #iconSumar,
      #iconRestar {
        background-color: transparent;
        cursor: pointer;
        border: none;
        margin: 0, 0.2rem;
        color: gray;

        #i {
          background-color: transparent;
        }
      }

      .tituloCarrito {
        color: #272727;
        font-size: 1.2em;
        font-weight: 500;
        border-bottom: solid 1.5px #272727;
      }
    }
  }

  .imgItemCarrito {
    height: 64px;
    width: auto;

    @media screen and (min-width: 600px) {
      width: 72px;
      height: auto;
    }
  }

  .sumaTotal {
    background-color: $color-blue;
    margin: $mp1;
    padding: $mp05;
    color: white;
    font-weight: 400;
    font-size: 1.1em;
  }

  .btnVaciarCarrito,
  .finalizarCompra {
    margin: $mp05;
    background-color: $color-danger;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      scale: 1.05;
      transform: $transition;
    }
  }

  .finalizarCompra {
    background-color: $color-blue;
  }
}
