.header {
  background-color: black;
  color: white;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;

    .headerLogo {
      max-width: 150px;
    }

    .linkMenu {
      text-decoration: none;
    }
    .headerIcon {
      max-width: 32px;
      margin: 0.75rem 0.5rem;

      &:hover {
        transform: scale(1.1);
        transition: all 500ms ease;
      }
    }

    .user {
      font-size: 0.8em;
      font-style: italic;
      text-align: center;
      color: $color-green;
    }
  }
}
