.main {
  padding: 2rem 2rem 4rem;
  background-color: white;

  .containerMain {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
