.mainProductos {
  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .producto {
    background-color: rgb(0, 166, 214);
    background: linear-gradient(
      0deg,
      rgba(0, 166, 214, 1) 0%,
      rgba(0, 121, 255, 1) 100%
    );
    width: 300px;
    height: 320px;
    margin: 2rem 0;
    padding: $mp02;
    border-radius: 25px;
    box-shadow: $shadow3;
    border: $borderWhite2;
    color: white;
    position: relative;
    margin: $mp1;

    .remera {
      height: 210px;
    }

    .h2 {
      text-align: center;
      font-size: 1.3em;
      font-weight: 500;
      font-style: italic;
      margin-bottom: $mp02;
    }

    select {
      border: 1px solid black;
      border-radius: $radius;
      width: 4rem;
      border: none;

      option {
        text-align: center;
        font-size: 0.8em;
      }
    }

    .priceProduct {
      margin-top: $mp02;
    }

    .btnAgregar {
      font-style: italic;
      text-transform: uppercase;
      color: white;
      margin: $mp05;
      padding: $mp05 $mp1;
      cursor: pointer;
      background-color: $color-magenta;
      border-radius: 50px 15px 50px 15px;
      border: $borderWhite2;
      box-shadow: $shadow3;
      position: absolute;
      right: -15px;
      bottom: -20px;

      &:hover {
        transform: scale(1.05);
        transition: $transition;
      }

      &:active {
        transform: scale(1);
      }
    }
  }
}
