/* COLOR-PALET */
$color-cyan: #00a6d6;
$color-magenta: rgb(255, 0, 128);
$color-magentaDark: rgb(223, 0, 111);
$color-orange: #ff4500;
$color-blue: #0079ff;

/* FONTS */
$font: "Ubuntu", "Lato", sans-serif;

/* TRANSITIONS */
$transition: all 200ms ease;

/* SHADOWS */
$shadow1: 0px 1px 0px 1px rgba(0, 0, 0, 0.8);
$shadow2: 3px 5px 10px rgba(0, 0, 0, 0.8);

/* BORDERS */
$borderWhite1: solid 1px white;
$borderWhite2: solid 2px white;

/* RADIUS */
$radius: 15px;
